<!DOCTYPE html>
<html lang="en">

{% include 'temp/temp_header.html' %}

<body>

    <!-- Navigation -->
{% include 'temp/temp_nav.html' %}

    <!-- Page Header -->

    <header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="site-heading">
                        <h1>knowledge is boundless</h1>
                        <span class="subheading">This Blog by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">


               <!-- for loop -->
                {% for i in essays %}
                <div class="post-preview">
                    <a href="/essay/detail/?id={{ i.id }}">
                        <h2 class="post-title">
                            {{ i.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ i.title }}
                        </h3>
                    </a>
                    <p class="post-meta">Essay on {{ i.time }}</p>
                </div>
                <hr>
                {% endfor %}


                <div class="clearfix">
                    <a class="btn btn-secondary float-right" href="javascript:;">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
{% include 'temp/temp_footer.html' %}
</body>

</html>
